<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">
<head>
  <title>Список пользователей</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div th:insert="Blocks/Header">...</div>

<a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
   href="/admin/add" sec:authorize="isAuthenticated()">Добавить пользователя</a>
<div th:each="user : ${users}">
  <div class="max-w-sm rounded overflow-hidden shadow-lg">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2" th:text="${'Логин пользователя: '+user.username}"/>
      <p class="text-gray-700 text-base" th:text="${'Роль доступа: '+user.isRole()}"></p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <a class="underline text-blue-600"  th:href="'/admin/edit/'+${user.id}" sec:authorize="isAuthenticated()">Редактировать</a>
      <!--            <a class="underline text-blue-600"  th:href="'/typeTreatment/show/'+${user.id}">Посмореть</a>-->
      <a class="underline text-blue-600"  th:href="'/admin/del/'+${user.id}" sec:authorize="isAuthenticated()">Удалить</a>
    </div>
  </div>
</div>
</body>
</html>